body{
  margin: 25px;
  font-family: Helvetica;
}
#titleDiv{
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
}

h1 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.mediumspringgreenHead{
  background-color: mediumspringgreen;
}

.lightcoralHead{
  background-color: lightcoral;
}

.skyblueHead{
  background-color: skyblue;
}

.productPrice{
  font-family: Helvetic;
  font-weight: bold;
  color: blue;
}
